

<!-- CHANGE :: Creat the code for chat box -->



<% if (profile_user){ %>

		<body style="background-image: url(images/g.jpg);background-size: cover;
		background-position: center;
		background-attachment: fixed;">
		
		
		
			
		
		<div id="user-chat-box" style="box-shadow:0 5px 30px -5px black;">
			
				<ul id="chat-messages-list">
					<h2 style="color: white;border-radius: px;background-color: #6c5ce7;padding: 0.5%;border-radius: 5px;">


						&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
					
						<img src="https://img.icons8.com/external-justicon-lineal-color-justicon/32/000000/external-chat-notifications-justicon-lineal-color-justicon.png" style="height: 10%; " st/>
                        <!-- <i class="far fa-eye "></i> -->
                        Codeial 
						<!-- <br>
						&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspHii Codeial here !!! -->
					</h2>
					<br>
				

				
					
					<li class="other-message">
						<!-- <span>
		
						</span> -->
						
					</li>
					<br>
					<li class="self-message">
						<!-- <span>
							
						</span> -->
						
						
					</li>
		
				</ul>
				<div id="chat-message-input-container">
					<input id="chat-message-input" placeholder="Type message here">
					<button id="send-message">
						<i class="fas fa-paper-plane"></i>
					</button>
				</div>
		
			</div>
			
		
		</div>
		<br>
		
		
		</body>
		
<% } %>