<link rel="stylesheet" href="/css/footer.css">

<footer>
   
    <div class="footer" >
        <ul>
            <% if (locals.user) {%>
                
                    <p>Created by Sankha Patra © 2021</p>
                
    
                
            <!-- <li><a href="/users/sign-out">Sign Out</a></li> -->
            <% }else {%>
             
                <% }%>
    
        </ul>
    </div>















</footer>