<footer>
    Page footer
    <div class="footer" >
        <ul>
            <% if (locals.user) {%>
    
                
            <!-- <li><a href="/users/sign-out">Sign Out</a></li> -->
            <% }else {%>
             
                <% }%>
    
        </ul>
    </div>















</footer>