<h1>Sign up</h1>

<!-- //remember to create an action for the route entered -->
<!-- in form you use post method so in route use post method not get -->
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your name" required autofocus>
    <input type="email" name="email" placeholder="Your email" required autofocus>
    
    <input type="password" name="password" placeholder="Password" required autofocus>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required autofocus>
    <input type="submit" value="Sign-up"></button>
</form>


