
<link rel="stylesheet" href="/css/loginform.css">

<span class="loader"></span>
<p class="webname">
    <!-- <i class="far fa-eye "></i> -->
    <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-chat-notifications-justicon-lineal-color-justicon.png"/>
    
    Codeial</p>
    

<div class="container">
    <h1>Sign in </h1>

<form action="/users/create-session" method="POST">

   
        <div class="form-control">
            <input type="email" name="email" 
            placeholder="Email" 
            required autofocus>
            
        </div>
        <div class="form-control">
            <input type="password" name="password" 
            placeholder="Your password"
             required autofocus>
             
            
        </div>
        
    <!-- <input type="email" name="email" placeholder="Email" required autofocus>
    <input type="password" name="password" placeholder="Your password" required autofocus> -->
    
    <input class="btn" type="submit" value="Sign-In"></input>
</form>
<br>

<p style="font-weight: bolder;">
 
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbspOr
</p>
<br>


<button style="width: 100%;padding-top: 5px;margin: 0px;font-weight: bolder;border-radius: 15px;background-color: white;padding-bottom: 5px;">

        <a href="/users/auth/google">
           
            <!-- <img class="Google" src="https://cdn-icons-png.flaticon.com/128/300/300221.png" height="30px"> -->
            <i class="fab fa-google fa-2x"></i>
            <!-- &nbsp; -->
            <!-- <i class="fab fa-google"></i> -->
            
                Google Sign In
            
            </a>

</button>



</div>
<script src="script.js"></script>
