
<link rel="stylesheet" href="/css/loginform.css">
<p class="webname">
    <!-- <i class="far fa-eye "></i> -->
    <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-chat-notifications-justicon-lineal-color-justicon.png"/>
    Codeial</p>

<div class="container">
    <h1>Sign in </h1>

<form action="/users/create-session" method="POST">

   
        <div class="form-control">
            <input type="email" name="email" 
            placeholder="Email" 
            required autofocus>
            
        </div>
        <div class="form-control">
            <input type="password" name="password" 
            placeholder="Your password"
             required autofocus>
             
            
        </div>
        
    <!-- <input type="email" name="email" placeholder="Email" required autofocus>
    <input type="password" name="password" placeholder="Your password" required autofocus> -->
    
    <input class="btn" type="submit" value="Sign-In"></input>
</form>

</div>
<script src="script.js"></script>
