footer{


  margin-top: 20px;
 
    color: #f95959;
    padding-top: 5px;

    
  // top: auto;
        // position: absolute;
        // bottom: 0;
      
     
        // display: flex;
        text-align: center;
        // margin-top: 10rem;;
        width: 100%;
        height:2.5rem;
        // right: 47.5%;

        // background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
        // background: linear-gradient(109.6deg,  rgb(239, 37, 37) 11.2%, rgb(14, 11, 56) 91.1%);
        






 
        position:relative;
        bottom: 0;
    background-color: black;



   
    
}