.postPage{
    // color:#fbf2d5 ;
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
}

body{


  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
 font-weight: bolder;
 
 height: 100vh;
 position: relative;


   
    // text-align: center; 
    // color: #005792;
    color: #4A00E0;
    // color: #f6378f;
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.button {
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
    // width: 100%;
    // background: #00bbf0;
    background: #005792;
    color: white;
    padding: 5px;
    font-family: inherit;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    display: inline;
  }
  
  .button:focus {
    outline: 0;
  }
  .button:hover{
      background: #00bbf0;
      color: white;
      transition: 1ms;
      transition: ease-in;
  
  }
  .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 500px;
    
  }
  .form_control input {
    background-color: transparent;
    border: 0;
    border-bottom: 3px #005792 solid;
    display:inline;
    width: 300px;
    padding: 10px 0;
    font-size: 20px;
  //   color: #fff;
    color:#005792 solid;
  }
  .form_control input:focus,
.form_control input:valid {
  outline: 0;
//   border-bottom-color: lightblue;
}
.postimg{
    height:20px;
}


.bttn {
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
    width: 6%;
    background: #fecd51;
    
    padding: 5px;
    font-family: inherit;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
   
  }
  
  .bttn:focus {
    outline: 0;
  }
  .bttn:hover{
      background:#42b883;
      color: white;
      transition: 1ms;
      transition: ease-in;
  
  }
  @keyframes ringing_bell {
    0% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(-15deg);
    }
  }
  
  .fa-trash:hover{
      animation-name: ringing_bell;
      animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0s;
     
  
  }
  .fa-trash-alt:hover{
    animation-name: ringing_bell;
    animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0s;
   

}
#home-container{
  // align-content: flex-start;
  display: flex;
  // min-height: 100vh;
  height: auto;
  #feed-posts{
    width: 80%;
    // height: 100vh;
    // padding: 10px;
    margin-left: 40%;
   
    // align-content:space-around;
   
  }
  #user-friends{
    width: 15%;
    box-shadow:0 5px 30px -5px rgba(0, 0, 0, 2);
    border-left: 2px solid  #4A00E0;
    border-bottom: 2px solid  #4A00E0;
    min-height:  50vh;;
    position: relative;
    // padding-bottom: 10px;
    margin-bottom: 0;
    color: blanchedalmond;
    // background-color: #a393eb;
    // background-color: #d59bf6;
    // bottom: 0;
    padding-left:5%;
    padding-right: 2.5%;
    text-decoration: none;



    background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
 
}

  
 