
.Loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  background-color: black;
  background: radial-gradient(ellipse at center, #6c5ce7 0%, #6c5ce7 14%, black 15%, black 100%);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 4px solid #6c5ce7;
}
.Loader::after,
.Loader::before {
  content: '';  
    border-radius: 50%;
    border-radius: 4px solid #6c5ce7;
  position: absolute;
  height: 30px;
  width: 4px;
  background: #6c5ce7;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: 25% 0;
  box-sizing: border-box;
  animation: rotation 10s linear infinite;
}
.Loader::before {
  border-radius: 4px solid #6c5ce7;
  height: 40px;
  width: 4px;
  transform: translateX(-50%) rotate(0deg);
  animation-duration: 1s;
} 
@keyframes rotation {
  0%    { transform: rotate(0deg)}
  100%  { transform: rotate(360deg)}
} 


.postPage{
    // color:#fbf2d5 ;
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 7px solid;
  border-color: transparent transparent #05004e white;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 58px;
  height: 58px;
  border-color:white black transparent transparent;
  animation: rotation 1s linear infinite;
}
.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 7px solid;
  border-color: black white transparent transparent;
  box-sizing: border-box;
  animation: rotation 1.2s linear infinite;
}

    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
.post-avatar{
  // background-color: #f27370;
  // background-color: #eeeeee;
  // background-color:blanchedalmond;
  // background-color: #ff9c6d;
  // background-color: #22559c;
  // background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
  
  // background: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);
  background-color: black;
  overflow: hidden;
  align-items: center;
  width: 35%;
  padding:1%;
  height: 50vmin;
  
  // padding-left: 10%;
  // padding-right: 10%;
  // border: 4px solid #00bbf0;
  border:solid 4px #f96d00;
  // border:solid 5px #fecd51 ;
 
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  // border-radius: 100%;
 
  margin-bottom: 50px;
  margin-left: 30vh;
  // box-shadow:0 5px 30px -5px rgba(0, 0, 0, 2);
  margin-bottom: 20vh;
  margin-top: 12vh;
  
}
.whole{
  // background-color: #fecd51;
  // background-color: #e3f6f5;
  // background-color: #afc5ff;
  // background-color: #fecea8;
  // background-color: #222831;
  overflow:auto;
  background-color:black;
  margin-left: 20vh;
  // color: blanchedalmond;
  // color: #f96d00;
  width: 65%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
  border: 4px solid #00bbf0;
  // border: 5px solid #f96d00;
  border-radius: 50px;
  margin-bottom: 50px;
  // box-shadow:0 5px 30px -5px rgba(0, 0, 0, 2);

}
.fa-heart:hover{
 
  animation-name: ringing_bell;
  animation-duration: 1s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-delay: 0s;


}



body{

  background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background: linear-gradient(72.3deg, rgb(29, 7, 64) 8.5%, rgb(253, 105, 139) 92.2%);


  // background: #9796f0;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  // background: #076585;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #fff, #076585);
  //   /* Chrome 10-25, Safari 5.1-6 */
    
  // background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  





  margin: 0;
 font-weight: bolder;
 
 height: 100vh;
 position: relative;


   
    // text-align: center; 
    // color: #005792;
    // color: #4A00E0;
    // color:blanchedalmond;
    // color: #f96d00;
    color: #81ecec;
    // color: #f6378f;
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.button {
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
    // width: 100%;
    // background: #00bbf0;
   
    background: #00bbf0;
    color: white;
    padding: 5px;
    font-family: inherit;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    display: inline;
    box-shadow:0 5px 30px -5px rgba(0, 0, 0, 2);
  }
  
  .button:focus {
    outline: 0;
  }
  .button:hover{
     
      background: #fecd51;
      color: black;
      transition: 1ms;
      transition: ease-in;
      box-shadow:0 5px 30px -5px rgba(0, 0, 0, 2);
  
  }
  .form-control {
    position: relative;
    overflow:hidden;
    margin: 20px 0 40px;
    // width: 60%;
    padding-left: 2%;
    padding-right: 2%;
    
    width: 100%;
    color: blanchedalmond;
    
  }
  .form_control input {
    background-color: transparent;
    border: 0;
    border-bottom: 3px  #00bbf0 solid;
    display:inline;
    // width: 300px;
    // width: 40%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;

    // padding: 10px 0;
    font-size: 20px;
    overflow:hidden;
  //   color: #fff;
    color:blanchedalmond ;
  }
  .form_control input:focus,
.form_control input:valid {
  outline: 0;
//   border-bottom-color: lightblue;
}
.postimg{
    height:20px;
}


.bttn {
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
    width: 6%;
    background: #fecd51;
    
    padding: 5px;
    font-family: inherit;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    box-shadow:0 5px 30px -5px rgba(0, 0, 0, 2);
   
  }
  
  .bttn:focus {
    outline: 0;
  }
  .bttn:hover{
      background:#42b883;
      color: white;
      transition: 1ms;
      transition: ease-in;
  
  }
  @keyframes ringing_bell {
    0% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(-15deg);
    }
  }
  
  .fa-trash:hover{
      animation-name: ringing_bell;
      animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0s;
     
  
  }
  .fa-trash-alt:hover{
    animation-name: ringing_bell;
    animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0s;
   

}
#home-container{
  // align-content: flex-start;
  display: flex;
  // min-height: 100vh;
  height: auto;
  #feed-posts{
    width: 90%;
    // height: 100vh;
    // padding: 10px;
    margin-left: 15%;
   
    // align-content:space-around;
   
  }
  #user-friends{
    width: 15%;
    // box-shadow:0 5px 30px -5px rgba(0, 0, 0, 2);
    // border-left: 2px solid  #4A00E0;
    // border-top: 2px solid  #4A00E0;
    // border-bottom: 2px solid  #4A00E0;
    //   border-left: 4px solid  #00bbf0;
    // border-top: 4px solid  #00bbf0;
    // border-bottom: 5px solid  #00bbf0;
    border:solid 4px #00bbf0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    min-height:  50vh;;
    position: relative;
    // padding-bottom: 10px;
    margin-bottom: 0;
    // color: blanchedalmond;
    color: #f96d00;
    // background-color: #a393eb;
    // background-color: #d59bf6;
    // bottom: 0;
    padding-left:5%;
    padding-right: 2.5%;
    text-decoration: none;
    background-color: black;

    



//     background: #4568DC;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
 
}
// .inputfile {
// 	width: 0.1px;
// 	height: 0.1px;
// 	opacity: 0;
// 	overflow: hidden;
// 	position: absolute;
// 	z-index: -1;
// }
// .inputfile + label {
//   font-size: 1.25em;
//   font-weight: 700;
//   color: white;
//   background-color: black;
//   display: inline-block;
// }

// .inputfile:focus + label,
// .inputfile + label:hover {
//   color: #00bbf0;
// }
// .inputfile + label {
// 	cursor: pointer; /* "hand" cursor */
// }
input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 0.2s;
  text-decoration: none;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
#1:hover{
  transition: 0.2s;
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

