

  @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}


      
// .container { 
//   animation-name: floating;
//   animation-duration: 1s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in-out;
//   animation-direction: inherit;
//   // margin-left: 30px;
//   // margin-top: 5px;
// }

// @keyframes floating {
//   0% { transform: translate(0,  0px); }
//   50%  { transform: translate(0, 15px); }
//   100%   { transform: translate(0, -0px); }   
// }

.webname{
  color:#fbf2d5 ;
  color: #000;
  font-size: 3.5rem; 
  margin-bottom: 30px;
  font-weight: bolder;
 
} 
.google:hover{
 
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;


}
.webname:hover{
  transform: scale(0.98);
  // color: #000;
  // color:#fbf2d5 ;
  color: #00bbf0;
  transition: all 0.3s;

}

body {

  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  


//   background-color: steelblue;
  // background-color: #64c4ed;
//   color: #fff;

// color: $lime;
  color: #005792;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
//   background-color: rgba(0, 0, 0, 0.4);
//   background-color: #d9dad7;
//   background-color: #bbe4e9;
  // background-color: #fbf2d5;
 
  padding: 25px 45px;
  border-radius: 5px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 2);
//   border-radius: 10px 10px 0 0;
  // border-radius: 50px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: sandybrown;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
  
}


.container a {
  text-decoration: none;
  // color: lightblue;
  color: orangered;
}
.container a:hover {
  text-decoration: none;
  // color: lightblue;
  // background-color:  #81ecec;
  color: black;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #00bbf0;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}
.btn:hover{
    background: #005792;
    color: white;

}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
//   color: whitesmoke;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
  
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 5px #005792 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
//   color: #fff;
  // color:#00bbf0 ;
  color: #005792;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color:#005792 ;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #005792;
  transform: translateY(-30px);
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid;
  border-color: transparent transparent #05004e white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 38px;
  height: 38px;
  border-color: #41d8bf #ff007b transparent transparent;
  animation: rotation 1s linear infinite;
}
.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 5px solid;
  border-color: #f96d00 #00bbf0 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1.2s linear infinite;
}

    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

   

