.Loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  background-color: black;
  background: radial-gradient(ellipse at center, #6c5ce7 0%, #6c5ce7 14%, black 15%, black 100%);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 4px solid #6c5ce7; }

.Loader::after,
.Loader::before {
  content: '';
  border-radius: 50%;
  border-radius: 4px solid #6c5ce7;
  position: absolute;
  height: 30px;
  width: 4px;
  background: #6c5ce7;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: 25% 0;
  box-sizing: border-box;
  animation: rotation 10s linear infinite; }

.Loader::before {
  border-radius: 4px solid #6c5ce7;
  height: 40px;
  width: 4px;
  transform: translateX(-50%) rotate(0deg);
  animation-duration: 1s; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.postPage {
  display: flex;
  flex-direction: row; }

.looder::after,
.looder::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 7px solid;
  border-color: transparent transparent #ffc93c #64c4ed;
  width: 148px;
  height: 148px;
  transform-origin: center center;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 1.5s linear infinite; }

.looder::before {
  width: 160px;
  height: 160px;
  border-color: white #6c5ce7 transparent transparent;
  animation: rotation 2s linear infinite; }

.looder {
  width: 118px;
  height: 118px;
  margin: 2%;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 7px solid;
  border-color: transparent transparent;
  box-sizing: border-box;
  animation: rotation 5000.2s linear infinite; }

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 7px solid;
  border-color: transparent transparent black #6c5ce7;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center; }

.loader::before {
  width: 58px;
  height: 58px;
  border-color: #f96d00 #f96d00 transparent transparent;
  animation: rotation 1s linear infinite; }

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 7px solid;
  border-color: black black transparent transparent;
  box-sizing: border-box;
  animation: rotation 1.2s linear infinite; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotationBack {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

i:hover {
  color: #41d8bf; }

.post-avatar {
  background-color: #eaeaea;
  overflow: hidden;
  align-items: center;
  width: 35%;
  padding: 1%;
  height: 42vmin;
  position: static;
  border-radius: 4%;
  border: solid 6px  #1b789c;
  margin-bottom: 50px;
  margin-left: 30vh;
  margin-bottom: 20vh;
  margin-top: 10%; }

.whole {
  overflow: auto;
  background-color: white;
  margin-left: 20vh;
  width: 65%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  box-shadow: 0 2px 20px -3px black;
  border: 6px solid #1b789c;
  border-radius: 15px;
  margin-bottom: 50px; }

.fa-heart:hover {
  animation-name: ringing_bell;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0s; }

body {
  background: white;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, white, #00d4ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fefefe, #00d4ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  font-weight: bolder;
  height: 100vh;
  position: relative;
  color: #1b789c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.button {
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
  background: #00c6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 5px;
  font-family: inherit;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  display: inline;
  padding: 2%;
  box-shadow: 0 2px 20px -3px black; }

.button:focus {
  outline: 0; }

.button:hover {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  transition: 1ms;
  transition: ease-in;
  box-shadow: 0 2px 20px -3px black; }

.form-control {
  position: relative;
  overflow: hidden;
  margin: 20px 0 40px;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  color: #1b789c; }

.form_control input {
  background-color: transparent;
  border: 0;
  border-bottom: 3px  #00bbf0 solid;
  display: inline;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 20px;
  overflow: hidden;
  color: #1b789c; }

.form_control input:focus,
.form_control input:valid {
  outline: 0; }

.postimg {
  height: 20px; }

.bttn {
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
  width: 6%;
  background: #fecd51;
  padding: 5px;
  font-family: inherit;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 30px -5px black; }

.bttn:focus {
  outline: 0; }

.bttn:hover {
  background: #42b883;
  color: white;
  transition: 1ms;
  transition: ease-in; }

@keyframes ringing_bell {
  0% {
    transform: rotate(-15deg); }
  50% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(-15deg); } }

.fa-trash:hover {
  animation-name: ringing_bell;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0s; }

.fa-trash-alt:hover {
  animation-name: ringing_bell;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0s; }

#home-container {
  display: flex;
  flex-direction: row-reverse;
  height: auto; }
  #home-container #feed-posts {
    width: 90%;
    margin-left: 0%; }
  #home-container #user-friends {
    width: 15%;
    border: solid 4px  black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: max-content;
    position: relative;
    min-width: min-content;
    margin-bottom: 0;
    color: #f96d00;
    padding-left: 5%;
    padding-right: 2.5%;
    padding-bottom: 2%;
    text-decoration: none;
    color: white;
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 0%; }

input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 0.2s;
  text-decoration: none; }

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9; }

#1:hover {
  transition: 0.2s;
  background-color: #81ecec;
  border: 2px solid #00cec9; }

.fas:hover {
  color: #f95959; }

@media screen and (max-width: 600px) {
  body {
    width: 100;
    overflow: scroll; }
  .boxContainer {
    visibility: hidden; }
  #home-container {
    display: block;
    height: auto; }
  .post-avatar {
    border-radius: 10px;
    width: min-content;
    height: min-content;
    margin-left: 30%; }
  .whole {
    width: 80%;
    margin-bottom: 10%;
    align-content: center;
    margin-left: 15%; }
  #user-friends {
    width: 80%;
    align-content: center;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-left: 0%; } }

i:hover {
  color: #f95959; }

.FRND a:hover {
  color: white; }

.FRND a {
  color: black;
  background-color: #f95959; }
